/* src/index.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  /* Nada de max-width ni padding acá */
  background-color: #0f172a; /* modo oscuro global */
  color: #fff;
}

/* Animación para los toasts */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out;
}